* {
  box-sizing: border-box;
}

p,
span,
a,
label {
  font-family: $text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  font-size: 3.5em;
  font-weight: 100;
  margin: 5px 0;
}

.btn {
  padding: 10px 20px;
  border: none;
  box-shadow: $dark-purple 3px 3px 1px;
  background: $purple;
  color: white;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: white;
    transform: translate(3px, 3px);
    box-shadow: $dark-purple 0px 0px 1px;
  }

  &:visited {
    color: white;
  }

}

a {
  color: rgb(13, 149, 228);
  text-decoration: none;

  &:hover {
    color: rgb(2, 74, 116);
    transition: color, .5s;
  }

  &:visited {
    color: rgb(96, 12, 192);
  }
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.decoration-title {
  display: flex;
  align-items: center;

  .decoration-left {
    margin-right: 30px;
  }

  .decoration-right {
    margin-left: 30px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

form {
  min-width: 30%;
  max-width: 60%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}