/**
*   All Variables for colors, constants,...
*/

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Imperial+Script&display=swap');

$purple: #3D314A;
$dark-purple: #1A1423;
$light-purple: #625c6b;
$beige: #AB8476;
$dark-beige: #96705B;
$shiny: radial-gradient(ellipse farthest-corner at right bottom, #dbb821 0%, #c98f1c 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);


$title-font: 'Imperial Script', serif;
$text-font: 'Frank Ruhl Libre', serif;